
  
<link rel="stylesheet" href="css/style2.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<body>
    <header>
        <div class="fijo">
           <div class="envios">
               <p>Envío gratis en compra superiores a $40.000</p> 
        </div>
       
        <h1> <strong>Valmour</strong></h1>
       </header>

       <section>

           <div class="registrarse">
              
               
               <a href="/users/Login">Iniciar sesión</a>
             <img src="./assets/imagenes/bolsacompras.png "alt="bolsa" id="verCarrito" >
           </div>
           






           <nav>
              <div >
                <ul id="menu-horizontal">
                    <li> <a href="/">Inicio</a></li>
                    <li><a href="/compra">Productos</a>
                    <ul id="menu-vertical">
                        
                        <li><a href="/calzados">Calzados</a></li>
                        <li><a href="/perfumes">Perfumes</a></li>
                    </ul>
                    </li>


                 
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
               </div> 
               
             </nav>
              <br><br><br><br><br>
             





       </section>

       
    


<div>
    <a id="inicio" href="./">Inicio</a> 
    <p class="Product">/Productos</p>
</div>
   <br><br><br><br>
<div>
    <ol>
        <li>Elige el producto que deseas comprar. </li>
        <li>Haz clic en el botón de "Comprar". Esto agregará el producto a tu carrito y te llevará al mismo.</li>
    </ol>
</div>


<br><br><br>




<div class="container d-flex m-4 flex-wrap">
{{#if productos}}
        {{#each productos}}
        <div id="shopContent">
            <div>
               <div class="card  justify-content-center m-2" style="width:10rem, heiht:30px;">
                   <img src={{imagen}} class="card-ing-top" alt="imagenes">
                   <div class"card-body">

                <h3>{{nombre}}</h3>
                <p class="price">Precio: $ {{precio}}</p>
                {{#if cantidad}}
                <input type="button" class="comprar" onclick="botonComprar('{{_id}}', '{{imagen}}', '{{nombre}}', '{{precio}}')" value="Comprar" />
                {{else}}
                <p>Sin stock</p>
                {{/if}}


             </div>
            </div>


            </div>
        </div>
        {{/each}}
   {{else}}
    <div id="shopContent">
        <p>NO HAY PRODUCTOS</p>
    </div>



    {{/if}}
</div>
    
<br><br>





     
<!--modal container-->

<div id="modal-container" class="modal-container">

</div>
 




<!--shop content-->
 <div id="shopContent">
    
</div>

 
  
  <script src="./js/productos.js "></script>
</body>


