



<link rel="stylesheet" href="./css/style3.css">

</head>
  <body>
    <header>
        <div class="fijo">
           <div class="envios">
         
           </div>
           <br>
       
           <h1> <strong>Valmour</strong></h1>
</header>


    <section>

        <div class="registrarse">
          
           
              <a href="/loginAdmin">Login Administrador</a>
          
        </div>
        

        <nav>
           <div >
             <ul id="menu-horizontal">
               
                 
                  <li> <a href="/admin">Inicio</a></li>
                    <li><a href="/formProductos">RegistroProductos</a></li>
                   <li><a href="/formUsuarios"> Registro Usuarios</a></li>
                     <li><a href="/tablaUsuarios">Tabla Usuarios</a></li>
                       <li><a href="/listaProductos"> Lista Productos</a></li>
               
             </ul>
            </div> 
            
          </nav>
           <br><br><br><br><br>
          





    </section>
        <br><br>  
<h2 style="color:darkmagenta">{{title}}</h2>
<br><br>


<table id="tablaUsuarios" class="table mt-4">
<thead>
    <tr>
        <th style="display:none">ID</th>
        <th>IMAGEN</th>
        <th>NOMBRE</th>
        <th>PRECIO</th>
        <th>ACCIONES</th>


    </tr>
</thead>
<tbody>

{{#each productos}}

 <tr>
      <td style="display:none">ID</td>
       
 </tr>
 <tr>
  <td>   <img src={{imagen}} class="card " style="width: 10rem;" alt="imagenes"></td>
   <td>{{nombre}}</td>
     <td>{{precio}}</td> 
     <td>
      <form action="/eliminarProducto/delete" method='post'>
        <input type="hidden" id="id_delete" name="id_delete" value="{{_id}}">
        <button type="submit" class="btn btn-danger">Eliminar</button> 
      </form>
    </td>
     <td>
      <form action="/actualizarProducto/actualizarFormulario" method='post'>
        <input type="hidden" id="id_update" name="id_update" value="{{_id}}">
        <button type="submit" class="btn btn-primary">Actualizar</button> 
      </form>
      </td>
 </tr>

 






{{/each}}






</tbody>


  </table>
  
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>